<a href="/">Home</a>
<div>
    <form id="dataset" name="form" style="display: flex; align-items: center; justify-content: center;"
          >
        <div layout="column">
            <md-input-container>
                <label>Dataset ID</label>
                <input type="text" ng-model="dataset_id">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="submit()">
                <label>Submit</label>
            </md-button>
        </div>
    </form>
    <div id="chart-line-temp">
    </div>
     <div id='chart'>
        <span class='reset' style='visibility: hidden;'>
          Current filter: <span class='filter'></span>
        </span>
    </div>
</div>